.resource-item {
  font-family: 'Gotham';
  text-align: center;
  padding: 30px;
}

.resource-img {
  height: 70px;
}

@media screen and (max-width: 992px) {
  .resource-name {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .resource-name {
    font-size: 12px;
  }
}