.resource-row {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}

.resource-item {
  flex: 1;
  font-family: 'Gotham';
  text-align: center;
}

.resource-img {
  height: 50px;
  width: 50px;
}

.resource-name {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .resource-name {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .resource-name {
    font-size: 12px;
  }
}